header {
    background-color: #f4befcc9;
    padding: 10px;
    color: rgba(255, 255, 255, 0.878); 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

li {
    padding: 0;
    margin: 0;
}

li:hover {
    transform: scale(1.2);
}

a {
    color: #5f4f4f;
    text-decoration: none;
}

a:hover {
    text-decoration: double;
    transform: scale(1.5);
}

.menu-container {
    width: 500px;
    content-visibility: hidden;
    transition: width 0.3s ease;
}

.menu-container.open {
    width: 400px;
    content-visibility: auto;
    display: list-item;
    justify-content:space-around;
    margin-left: 10px
}

.menu-botton {
    border: none;
    background-color: transparent;
    height: 3%;
    width: 3%;
}

.menu-botton:hover {
    transform: scale(1.1);
}