header {
    background-color: #f4befcc9; /* Roxo - pode alterar a cor conforme desejado */
    padding: 10px;
    color: rgba(255, 255, 255, 0.878); /* Branco para o texto */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  /* Estilização para a navegação */
nav {
    display: flex;
    justify-content:space-around;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

li {
    padding: 0;
    margin: 0;
}

li:hover {
    transform: scale(1.2);
}

a {
    color: #ffffff; /* Branco para os links */
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.5);
}