
<app-header></app-header>
  
  <p *ngIf="!tarefas"><em>Loading...</em></p>
  <div class="container" *ngIf="visibilidadeTarefas">
    <h4> Tarefas </h4>
    
    <div class="out-table">
        <button type="button" class="btn-tarefa" (click)="ExibirFormulario()">
            Nova tarefa
        </button>
      <table class="table" *ngIf="visibilidadeTarefas">
        <tr class="thread">
        <th>Nome da Tarefa</th>
        <th>Descrição</th>
        <th>Data de Criação</th>
        <th>Situação</th>
        </tr>
        <tr *ngFor="let tarefa of tarefas">
        <td class="tdread" hidden="true">{{ tarefa.iD_TAREFA }}</td>    
        <td>{{ tarefa.nomE_TAREFA }}</td>
        <td>{{ tarefa.descricaO_TAREFA }}</td>
        <td>{{ tarefa.datA_CRIACAO }}</td>
        <td>
            <button class="btn-concluida" (click)="TarefaConcluida(tarefa)" *ngIf="tarefa.flaG_CONCLUIDA == true" >  Concluída </button>
            <button class="btn-pendente" (click)="TarefaConcluida(tarefa)" *ngIf="tarefa.flaG_CONCLUIDA != true">  Concluir Tarefa </button>
        <td>
            <button type="button" class="btn-excluir" (click)="ExibirConfirmacaoExclusao(tarefa.iD_TAREFA, tarefa.nomE_TAREFA, conteudoModal)">
            Excluir
            </button>
        </tr>
        </table>
    </div>
</div>

    <div class="container" *ngIf="visibilidadeForm">
    <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <h5>{{tituloFormulario}}</h5>
        <hr/>
        <div class="form-group">
        <label>Nome da Tarefa</label>
        <input type="text" class="form-control form-control-sm" formControlName="nomE_TAREFA" />
        </div>

        <div class="form-group">
        <label>Descrição</label>
        <input type="text" class="form-control form-control-sm" formControlName="descricaO_TAREFA" />
        </div>

        <div class="row">
            <div>
            <button type="submit" class="btn-add">
                Adicionar
            </button>
            <button type="button" class="btn-voltar" (click)="Voltar()">
                Voltar
            </button>
            </div>
        </div>
    </form>
</div>

    <ng-template class="ng-template" #conteudoModal>
    <div class="modal-header">
        <h3 class="modal-title pull-left">Confirmação de Exclusão</h3>
    </div>
    <div class="modal-body">
        Deseja realmente excluir a tarefa "{{nomE_TAREFA}}"?
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="ExcluirTarefa(iD_TAREFA)">Sim</button>
    </div>
    </ng-template>
